<launch>
    <!-- <group ns="TCP_controler"> -->
        <include file="$(find darm_ros_control)/launch/darm_ros_control.launch"></include>

        <node name = "tcp_control"
            pkg = "tcp_control"
            type = "tcp_control"
            output = "screen"
        />
    <!-- </group> -->
</launch>