<launch>
  <!-- <group ns="dArm"> -->
    <!-- <include file="$(find darm_ros_control)/launch/darm_ros_control.launch" /> -->
    
    <rosparam file="$(find collision_detection)/config/collision_detection.yaml" command="load"/>

    <node name="collision_detection"
        pkg="collision_detection"
        type="collision_detection"
        respawn="false"
        output="screen"
    />

    <!-- <node name="darm_ros_control" pkg="darm_ros_control" type="darm_ros_control" output="screen" respawn="false"/> -->
  <!-- </group> -->
</launch>
