<launch>
  <!-- <group ns="dArm"> -->
    <rosparam file="$(find velocity_control)/config/velocity_control.yaml" command="load"/>

    <node name="controller_manager"
          pkg="controller_manager"
          type="spawner" respawn="false"
          output="screen"
          args="joint_state_controller
                velocity_controller_q1
                velocity_controller_q2
                velocity_controller_q3"/>

    <node name="velocity_control"
          pkg="velocity_control"
          type="velocity_control"
          output="screen"
          respawn="false"/>
  <!-- </group> -->
</launch>
